parameters:
    paths:
        - Command
        - Controller
        - Entity
        - DependencyInjection
        - Event
        - Twig
        - Tests
        - Resources

    phpVersion: 80200
    level: 5

    excludePaths:
        analyse:
            - vendor/*
            - var/*
            - node_modules/*
            - .git/*

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon